{
  "env": {
  "browser": true,
  "commonjs": true
  },
  "parserOptions": {
    "ecmaVersion": 13
  },
  "extends": "airbnb-base",
  "rules": {
    "no-underscore-dangle": ["error",{"allow": [ "_id"]}],
    "max-classes-per-file": [
      "error",
      { "ignoreExpressions": true, "max": 10 }
  ],
    "no-unused-vars": "off"
  }
}
